<template>
  <div class="main">
    <div class="container">
      <p>Buscando tecnicos por localidad:{{localidad}}</p>

      <form v-on:submit.prevent="listarTecnicos">
        <select v-model="localidad" placeholder="Localidad">
          <option v-for="localidad in localidades" v-bind:value="localidad">
            {{localidad}}
          </option>
        </select>
        <select v-model="servicio" placeholder="Servicio" @change="onChangeServicio">
  
          <option v-for="servicio in servicios" v-bind:value="servicio">
            {{servicio}}
          </option>
        </select>
        <select v-model="categoria" placeholder="Categoria">
          <option v-for="categoria in categorias" v-bind:value="categoria">
            {{categoria}}
          </option>
        </select>

        <button>Buscar</button>
      </form>
    </div>
  </div>

  <div class="caja">
    <div v-for="tec in tecnico">
      <div class="tecnico">
        <img src="../assets/img/technical-icon.png" />
        <h3>{{tec.names }} {{tec.lastnames}}</h3>
        <p>{{tec.experience}}</p>
        <p><img src="../assets/img/whatsapp-icon.png" />{{tec.telephone}}</p>
        <p>{{tec.email}}</p>
        <button class="boton" @click="crearServicio(tec.id)">
          Elegir técnico
        </button>
      </div>
    </div>
  </div>
</template>
<script>

import axios from 'axios'

export default {

  name: 'ComponenteListaTecnicos',

  data: function(){

      return{
            service_id : "",
            usuario : "",
            localidad: "",
            categoria: "",
            servicio: "",
            tecnico: "",
            nombres: "",

            localidades: [
                'Usaquen', 'Chapinero', 'Santa Fe', 'San Cristobal',
                'Usme', 'Tunjuelito', 'Bosa', 'Kennedy', 'Fontibon',
                'Engativa', 'Suba', 'Barrios Unidos', 'Teusaquillo', 'Los Martires',
                'Antonio Nariño', 'Puenta Aranda', 'Candelaria', 'Rafael Uribe',
                'Ciudad Bolivar', 'Sumapaz'
            ],
            servicios: [
                'agua','luz','gas'

            ]

        }
    },

    methods:{

        onChangeServicio(event) {

            switch (this.servicio) {
                case "agua":
                    this.categorias = ['Fuga de agua','Goteras','Tuberia rota']
                    break;
                case "luz":
                    this.categorias = ['Corto circuito','Olor a quemado','Tacos electricidad']
                    break;
                case "gas":
                    this.categorias = ['Fuga de gas','Taponamiento punto']
                    break;
                default:
                    this.categorias = []
            }

        },

        listarTecnicos: function(){

            var jsons={
                localidad: this.localidad,
                categoria: this.categoria,
                servicio: this.servicio
            }
            // uso directo directamente en el evento requerido

            axios.post('https://app-backend-g5.herokuapp.com/technicians/', jsons)
            
            .then(response => {
                this.tecnico = response.data
                console.log(response.data)
            })
            .catch(error => {
                console.log(error.response)
            });

        },

        crearServicio: function(id){

            let fecha = new Date().toISOString().slice(0, 10);

            var dataService = {
                    names: this.usuario.nombres,

                    lastnames : this.usuario.apellidos,
                    locality:  this.usuario.localidad,
                    address: this.usuario.direccion,
                    telephone: this.usuario.telefono,
                    email: this.usuario.email,

            }

            dataService.tech_id = id
            dataService.module = "emergencia"
           
            dataService.dom_service  = this.servicio
            dataService.category = this.categoria
            dataService.description = this.usuario.descripcion
            dataService.app_date = fecha

            console.log(JSON.stringify(dataService))
            

            axios.post('https://app-backend-g5.herokuapp.com/createUser/',dataService)
            .then(response => {
                this.service_id = response.data.service_id
                console.log(response.data)
            })
            .catch(error => {
                console.log(error.response)
            });

            this.$router.push({name: "notificacionServicio", params: {'data': {service_id: this.service_id} }})

        },

    },

    mounted () {

        this.usuario = JSON.parse(this.$route.params.data)

    },

    created: function(){
        return true
    }

}
</script>
<style>
.main {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 3px solid #283747;
  border-radius: 10px;
  width: 25%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tecnico {
  margin: 0 auto;
  float: left;
  border: 1px solid #ccc;
  margin: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.tecnico > img {
  width: 120px;
  margin: 15px;
}

.caja {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.boton {
  width: 50%;
  height: 40px;

  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0;
}
</style>
