<template>
  <div id="app" class="app">
    <div class="header">
      <h1>Servicios a tu alcance</h1>
      <nav>
        <button v-on:click="cargarPrincipal"> Inicio </button>      
        <h6>Solicito servicio:{{nombres}}</h6>  
      </nav>
    </div>
    <router-view v-on:actualizarValoresServicio="actualizarValoresServicio"/>
  </div>
</template>

<script>
export default {
  name: 'App',

  data: function(){
    return{      
      nombres: "",
      apellidos: "",
      localidad: "",
      direccion: "",
      telefono: "",
      email: "",     
      modulo: "",
      serv_domiciliario: "",
      categoria: "",
      descripcion: "",
      fecha_solicitud: "",
    }
  },

  methods:{
    cargarPrincipal: function(){
      this.$router.push({name: "principal"})
    },
    actualizarValoresServicio: function(data){     
      this.nombres = data.nombres
      this.apellidos = data.apellidos
      this.localidad = data.localidad
      this.direccion = data.direccion
      this.telefono = data.telefono
      this.email = data.email
      this.descripcion = data.descripcion
      this.fecha_solicitud = data.fecha_solicitud
      localStorage.setItem("localidad", data.localidad)      
    }
  },

  created: function(){
    return true
  }

}
</script>

<style>
  body{
    margin: 0 0 0 0;
  }

  .header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;

    background-color: #283747 ;
    color:#E5E7E9  ;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header h1{
    width: 20%;
    text-align: center;
  }

  .header nav {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 20px;
  }

  .header nav button{
    color: #E5E7E9;
    background: #283747;
    border: 1px solid #E5E7E9;

    border-radius: 5px;
    padding: 10px 20px;
  }

  .header nav button:hover{
    color: #283747;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
  }

  .main-component{
    height: 75vh;
    margin: 0%;
    padding: 0%;

    background: #FDFEFE ;
  }
</style>
